<%-include("./partials/header")%>
    <div class="container">
        <div class="row text-center" style="display: flex; flex-wrap: wrap;">
            <div class="col-lg-12">
                <h2>Movies to watch</h2>
                <br>
                <%movies.forEach(function(movie){%>
                    <% if(movie.author.id.equals(currentUser._id)){%>
                        <div class="card" style="width: 32rem;">
                            <div class="caption">
                                <h3>
                                    <%=movie.title%>
                                </h3>
                            </div>
                            <div class="thumbnail">
                                <img class="rounded" src="https://image.tmdb.org/t/p/w300<%=movie.poster_path %>">
                            </div>
                            <div class="card-body">
                                <p class="card-text">
                                    <%=movie.overview%>
                                </p>
                            </div>
                            <form class="todo-form" action="/index/<%=movie._id%>?_method=DELETE" method="POST">
                                <button class="btn-delete"><i class="fas fa-trash"></i> Delete</button>                              
                            </form>
                        </div>
                        <br>
                    <%}%>
                <%})%>
            </div>
        </div>
    </div>

    <%-include("./partials/footer")%>